* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(../font/Roboto-Bold.ttf);
}

body {
    background-image: url("../img/2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: "Roboto-Bold";
    color: white;


}

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 890px;
}

.div-table {
    display: none;
}

.phone {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.div1 {
    text-align: center;

    &__1 {
        &__h1 {
            color: white;
            font-size: 25px;
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: center;
        }

        &__p1 {
            color: white;
            font-size: 25px;
            margin-bottom: 10px;
            text-align: center;
        }
    }

    &__2 {
        &__h1 {
            color: red;
            font-size: 25px;
            text-align: center;
        }
    }
}

.text1 {
    text-align: center;
    color: red;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 25px;
}

.juma {
    background-color: rgb(175, 116, 5);
}

.duwa1 {
    margin-top: 25px;
    color: white;


    &__1 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 10px;
    }

    &__2 {
        font-size: 30px;
        text-align: right;
        margin-bottom: 10px;
        font-family: "Roboto-Bold";
    }

    &__3 {
        font-size: 30px;
        margin-bottom: 10px;
        text-align: center;
    }

    &__4 {
        font-size: 30px;
        margin-bottom: 10px;
        text-align: center;
    }
}

.duwa2 {
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;

    &__1 {
        font-size: 30px;
        margin-bottom: 10px;
        text-align: center;
    }

    &__2 {
        font-size: 30px;
        margin-bottom: 10px;
        text-align: right;
    }

    &__3 {
        font-size: 30px;
        margin-bottom: 10px;
        text-align: center;
    }

    &__4 {
        font-size: 30px;
        margin-bottom: 10px;
        text-align: center;
    }
}



@media screen and (min-width: 1020px) {

    table,
    th,
    td {
        border: 2px solid black;
        // border-collapse: collapse;
        text-align: center;
        padding: 25px;
        margin-bottom: 15px;
        font-size: 25px;
    }

    .phone {
        display: none;
    }

    .div-table {
        display: block;
    }

    .div1 {
        display: flex;
        justify-content: space-around;
        margin-top: 15px;

        &__1 {
            &__h1 {
                color: white;
                font-size: 40px;
            }

            &__p1 {
                color: white;
                margin-top: 8px;
                font-size: 40px;
            }
        }

        &__2 {
            &__h1 {
                color: red;
                margin-top: 40px;
                font-size: 40px;
            }
        }
    }

    .text1 {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 15px;
        color: red;
        font-size: 30px;
    }

    .div-table {
        display: flex;
        justify-content: center;

    }

    .table {
        padding: 15px;
    }

    .juma {
        background-color: rgb(175, 116, 5);
    }


}